.env.dev
.env.prod
.env.preview
env
.venv

logs

.ruff_cache
.python-version
*.bin
*.pickle
*.pyc
__pycache__

*.db

*sqlite3

.coverage
.vscode
htmlcov

migrations

media
static

.env
.env.prod

celerybeat-schedule*
*windows*

