django==5.2.8

django-admin-interface==0.31.1
django-configurations[cache,database,email,search]==2.5.1
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
drf-yasg==1.21.11

channels==4.3.2
channels-redis==4.3.0
daphne==4.1.2

uvicorn[standard]==0.38.0
python-dotenv==1.2.1

redis==7.1.0

docker==7.1.0

celery==5.5.3

Pillow==12.0.0

ipython==9.7.0
